.tweet-page {
  background-color: $default_bg_color; padding: $top_margin $default_margin $default_margin; min-height: 100vh; overflow: auto;

  .button.is-primary { background-color: $dark-blue; &:hover { background-color: darken($dark-blue, 10%) } }
  a { color: $dark-blue; &:hover { color: $pumpkin; } }

  .main-container {
    width: $main_container_width; min-width: $main_container_width; display: block; margin: auto;
    .page-msg { font-size: 16px; text-align: center; .fa, .sr-only { font-size: 16px; padding: 3px } }
    .header { background-color: $dark-blue; padding: $default_margin/4 $default_margin/2; border-radius: $default_margin/4; margin-bottom: $default_margin/2; color: white; font-weight: bold; }

    .tweets-container {
      .company-search {
        float: right;
        input { border-radius: $default_margin/4; margin-right: $default_margin/4; min-width: 160px; }
      }
      .tweet-row {
        background-color: white; padding: $default_margin/2; margin: 0 0 $default_margin/2 0; border: 1px darken($default-bg-color, 20%) solid;
        .media-left .image { overflow: hidden; border-radius: 50%; }
        .fa { color: $light-blue; font-size: 12px; cursor: pointer; vertical-align: middle; &:hover { transform: scale(1.1); } }
        .footer-item { margin-right: $default_margin/2; }
      }
    }

    .new-tweet-form {
      margin-bottom: $default_margin/2;
      .toprow { text-align:center; .control { width: 33.333%; padding-right: $default_margin/4; display: inline-block; margin-bottom: $default_margin/2; } }
      .control.comment { margin-bottom: 0; }
      .char-count { text-align: right; font-size: 12px; color: $bad-red; }
      .control {
        .input, .select, .textarea {
          &:active, &:focus { border-color: $dark-blue; }
        }
      }
    }

    .end-msg {
      text-align: center; margin: $default_margin/2 0;
      .button { background-color: $dark-blue; color: white; &:hover { background-color: darken($dark-blue, 10%); } }
    }

  }
}
